<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="addTask()">
                <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Notizen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-input type="text" placeholder="Enter task" [(ngModel)]="taskName"></ion-input>
        <ion-input type="text" placeholder="Enter description" [(ngModel)]="taskDescription"></ion-input>
        <ion-input type="time" min="09:00" max="18:00" [(ngModel)]="taskTime"></ion-input>
    </ion-item>
    <div padding>
        <ion-list>
            <ion-item *ngFor="let todo of taskList; let i = index" (click)="viewToDo(todo)">
                {{todo}}
                <div class="item-note" slot="end">
                    <ion-button color="danger" clear (click)="deleteTask(i)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                    <ion-button color="success" clear (click)="editTask(todo, i)">
                        <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" (click)="addTask()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>